P2P_API_PATH="httpsL//example.com/api/v1/" # "http://127.0.0.1:8000/api/v1/"
OUR_CALLBACK_URL="https://example.com/api/v1/callback-enpoint/1/"

TEST_USER_USERNAME="username"
TEST_USER_PASSWORD="password"

# keys for digital signature and data decrypt
PEM_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIJKAIBAAKCAgEA17yWNx5JUZPY/NDQr9UpcwbordRuksnBxo4sq7u9wyoKX92t
...
PJHRf4+iDo/FpnWaDMU/Gm3svgeuzWF2DyVMWmTSYQvUz5+BLM5S9O5zUtk=
-----END RSA PRIVATE KEY-----"
PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA17yWNx5JUZPY/NDQr9Up
...
myvUzDpoKNIDsEVcFZqeMB8CAwEAAQ==
-----END PUBLIC KEY-----"